@font-face {
  font-family: 'IBM Plex Serif Subset';
  src: url('/src/assets/ibm-plex-serif-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Serif Subset';
  src: url('/src/assets/ibm-plex-serif-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  --card-gold: #e1c392;
}

html {
  box-sizing: border-box;
}

html, body {
  overscroll-behavior: contain;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* background-color: #302c30; */
  background-color: rgba(30.6, 79.05, 53.55, 1.0);
  height: 100%;
  margin: 0;
  /* border: solid rebeccapurple 10px; */
  overscroll-behavior: contain;
  user-select: none;
}

#app {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

* {
  font-family: 'IBM Plex Serif Subset', 'IBM Plex Serif', serif;
}

pre {
  font-family: 'IBM Plex Mono';
  font-size: 0.75em;
}

html {
  height: 100%;
}

canvas {
  /* border: solid salmon 1px; */
  /* border: solid var(--card-gold) 1px; */
  height: 100%;
  overscroll-behavior: contain;
  position: relative;
  transition: transform 0.25s ease;
  width: 100%;
  z-index: 0;
}

#info {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

#footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1em;
  margin: 0;
  left: 0;
  width: 100%;
}

#sidebar {
  display: flex;
  z-index: 1;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.33);
  gap: 0.5em;
  padding: 0.75em;
  position: absolute;
  right: -144px;
  height: 100%;
  top: 0;
  transition: transform 0.25s ease;
  width: 144px;
}

#info {
  display: none;
}

option {
  font-weight: 400;
  background: auto;
  color: black;
  border-radius: auto;
  border-radius: 0.25em;
}

#select {
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  color: #fffe;
  background: none;
  border: none;
  border-radius: 0.25em;
  /* box-shadow: 0em 0.125em 0px; */
  /* padding: 0.25em 2em; */
  padding-left: 0.125em;
}

#new-game, #reset-game {
  font-size: 0.75rem;
  padding: 0.25em 0.5em;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-color: salmon;; */
  /* border: none; */
  /* color: white; */
  /* font-weight: bold; */
  /* color : red; */

  border: solid #fffe 1px;
  color: #fffe;
  border-radius: 0.25em;
  background-color: none;
  box-shadow: 0em 0.125em 0px;
  background: none;
  cursor: pointer;
}

#new-game {
  font-size: 0.875rem;
}

#new-game:hover, #reset-game:hover {
  transform: translate(0.125em, 0.125em);
  box-shadow: 0px 0px 0px;
  transition: .1s;
}


#toggle-sidebar {
  display: flex;
  font-size: 1.5em;
  font-weight: 700;
  border: none;
  position: absolute;
  padding: 0;
  top: 0em;
  left: -1.25em;
  transition: transform 0.25s ease;
  color: var(--card-gold);
  background: none;
  width: 1.25em;
  height: 1.25em;
  cursor: pointer;
  padding-bottom: 0.125em;
  align-items: center;
  justify-content: center;
}

.message {
  color: #fffe;
  padding: 0.5em;
}